.hero{
    width: 100%;
    position: relative;
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 300px;
}
.hero-content{
    width: 35%;
    position: relative;
    top: 200px;
    left: calc(50% - 17.5%);
    
}
.hero-title{
    text-align: center;
    font-size: 70px;
    margin-top: 10px;
    font-weight: 600;
}
.hero-medium-title{
    text-align: center;
    font-size: 45px;
    margin-top: 10px;
    font-weight: 600;
}
.hero-text{
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
.hero-button-box{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.hero-button{
    background-color: #1D809F;
    color: white;
    padding: 25px 40px;
    border: none;
    border-radius: 10px;
}